<template name="header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a class="waves-effect" href="#">Sass</a></li>
                    <li><a class="waves-effect" href="#">Components</a></li>
                    <li><a class="waves-effect" href="#">JavaScript</a></li>
                </ul>

                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>
</template>